@import '../base/_common';

.navbar {
  .navbar-brand {
    img {
      width: 10rem;
    }
  }
    ul {
      li {
        padding: 8px 12px;
        position: relative;
        font-family: $primary_font;
        &::after {
          content: '';
          width: 0%;
          height: 2px;
          background: #00C89D;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
   
        .nav-link{
          color: #fff !important;
          text-decoration: none;
          font-size: .9rem;
        }
      }
      .nav-button {
        background: #00C89D;
        padding: .5rem 1.2rem;
        border-radius: 5px;
        display: inline-block;
      }
    }
}